section .Youtube-container{
  position: relative;
  width : 100%;
  height : 100vh;
}

.Youtube-container .Youtube-title{
  position: relative;
  top : 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width : 50%;
  height : 20vh;
  padding : 0 5rem;
}

.Youtube-title h1{
  font-size: 6rem;
  font-weight: 200;
}

#IU_TV_slide-container{
  position: absolute;
  width : 70%;
  height : 40rem;
  right : 5rem;
  display: none;
}

#IU_TV_slide-container.active{
  display: block;
  animation: ActiveAnimation 1.5s ease-in-out;
}

#IU_TV_slide-container .slide-box{
  position: relative;
  width : 20%;
  height : 30rem;
  overflow: hidden;
  padding : 0.5rem;
}

#IU_CLIP_slide-container{
  position: absolute;
  width : 70%;
  height : 40rem;
  right : 5rem;
  display: none;
}

#IU_CLIP_slide-container .slide-box{
  position: relative;
  width : 20%;
  height : 30rem;
  overflow: hidden;
  padding : 0.5rem;
}

#IU_CLIP_slide-container.active{
  display: block;
  animation: ActiveAnimation 1.5s ease-in-out;
}

@keyframes ActiveAnimation {
  0%{
    opacity: 0;
    margin-top: 2rem;
  }

  100%{
    margin-top: 0;
    opacity: 1;
    transition: all 1s ease-in;
  }
}

.slide-box img{
  position: absolute;
  top : 0;
  width : 100%;
  height : 18rem;
  object-fit: cover;
}

.slide-box .play-video{
  position: absolute;
  top : 0;
  width : 100%;
  height : 18rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.play-video .play-button{
  position: absolute;
  width : 80px;
  height : 80px;
  font-size: 5rem;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  color : #fff;
}

.play-video .play-button:hover{
  width : 100px;
  height : 100px;
  cursor : pointer;
}

.slide-box .slide-title{
  position: absolute;
  bottom: 0;
  width : 100%;
  height : 12rem;
  font-size: 1.2rem;
  color :rgb(66, 66, 66);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-family: var(--font-family-Sun);
}

.slide-title p{
  font-size: 1.2rem;
  color :rgb(66, 66, 66);
  font-weight: bold;
}

.slick-slider .slick-prev, .slick-slider .slick-next{
  z-index: 10;
  line-height: 0;
  position: absolute;
  top: 30%;
  display: block;
  width: 100px;
  height: 50px;
  padding: 0;
  transform: translate(0, -30%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  font-family: 'slick';
  font-size: 80px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Youtube-container .Youtube-category{
  position: absolute;
  left : 5rem;
  width : 40%;
  height : 40rem;
  font-family: var(--font-family-Sun);
}

.Youtube-category li{
  display: block;
  width : 100%;
  height : 8rem;
}

.Youtube-category li a{
  font-size: 1.5rem;
  font-weight: bold;
  color : rgb(134, 134, 134);
}

.Youtube-category li a.active{
  color : #000;
  font-size: 2rem;
}