.Gallary-container{
  position: relative;
  top : 0;
  left : 0;
  width : 100%;
  height : 100vh;
  background-image: url('../../assets/image/J.ASTINA/2022\ JASTINA_7.jpg');
  background-size: cover;
  background-position: center;
}

.Gallary-container::before{
  position: absolute;
  width : 100%;
  height : 100%;
  content : '';
  top : 0;
  left : 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.Gallary-container .Gallary-contents{
  position: relative;
  top : 50%;
  transform: translateY(-50%);
  width : 100%;
  height : 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Gallary-contents .Gallary-subTitle{
  font-size: 1rem;
  color : #fff;
  text-transform: uppercase;
  font-family: var(--font-family);
}

.Gallary-contents .Gallary-title{
  font-size: 2.5rem;
  color : #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-family: var(--font-family);
}

.Gallary-container .Gallary-buttons{
  position: absolute;
  width : 50rem;
  bottom : 5rem;
  left : 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Gallary-container .View-button{
  width : 13rem;
  height : 4rem;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: var(--font-family);
}

.Gallary-container .View-button:hover{
  background-color: rgb(252, 157, 157);
  cursor: pointer;
  color : #fff;
  border : #fff;
}

