@charset "UTF-8";

.AboutIndex-container{
    position: relative;
    width : 100%;
    height : 600vh;
}

.AboutIndex-container .AboutIU-IndexList{
    position: relative;
    width : 100%;
    height : 100vh;
    background-color: #000;
}

.AboutIU-IndexList.active{
    position: sticky;
    top : 0;
    left : 0;
}

.AboutIU-IndexList .Singer-IndexBox,
.AboutIU-IndexList .Actor-IndexBox{
    position: absolute;
    left  : 50%;
    transform: translateX(-50%);
    width : 100%;
    height : 100%;
    overflow: hidden;
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.Singer-IndexBox.show,
.Actor-IndexBox.show{
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.Singer-IndexBox .Focus-EffectBox,
.Actor-IndexBox .Focus-EffectBox{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
    transition-duration: 0.5s;
    z-index: 10;
    opacity: 0;
}

.Singer-IndexBox .Focus-EffectBox.show,
.Actor-IndexBox .Focus-EffectBox.show{
    transition-duration: 0.5s;
    opacity: 1;
}

/*카메라 센서 이미지 영역*/
.Focus-EffectBox .sensor{
    position: absolute;
    top : 0;
    left : 50%;
    transform: translateX(-50%);
}

/*카메라 줌인 Effect css box 4개 디자인*/
.Focus-EffectBox span:first-child{
    position: absolute;
    top : 0;
    left : 0;
    width : 50px;
    height : 50px;
    border-width: 4px 0 0 4px;
    border-color: #fff;
    border-style: solid;
}

.Focus-EffectBox span:nth-child(2){
    position: absolute;
    top : 0;
    right : 0;
    width : 50px;
    height : 50px;
    border-width: 4px 4px 0 0;
    border-color: #fff;
    border-style: solid;
}

.Focus-EffectBox span:nth-child(3){
    position: absolute;
    bottom : 0;
    left : 0;
    width : 50px;
    height : 50px;
    border-width: 0 0 4px 4px;
    border-color: #fff;
    border-style: solid;
}

.Focus-EffectBox span:nth-child(4){
    position: absolute;
    bottom : 0;
    right : 0;
    width : 50px;
    height : 50px;
    border-width: 0 4px 4px 0;
    border-color: #fff;
    border-style: solid;
}

.AboutIU-IndexList .Scroll-Down{
    position: absolute;
    bottom: 0;
    left : 50%;
    transform: translateX(-50%);
    width : 100px;
    color: #fff;
    height : 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.Scroll-Down span{
    width : 3px;
    height : 100%;
    display: block;
    content: '';
    background-color: #fff;
}

.Scroll-Down h2{
    width: 100%;
    height : 100%;
    font-size: 14px;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family);
}