.Discography-container{
    position: relative;
    width: 100%;
    height: max-content;
    background-color: #000;
    z-index: 200;
}

.Discography-container .Discography-titleBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 6.25rem;
    font-size: 1.2rem;
    color: #fff;
    font-family: var(--font-family);
    text-transform: uppercase;
    z-index: 10;
    margin-bottom: 3rem;
    padding: 0 10%;
}

.Discography-titleBox .Discography-title{
    width: 30rem;
    line-height: 6.25rem;
}

.Discography-titleBox .control-animate{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 8rem;
    height: 100%;
}

.control-animate .control-button{
    cursor: pointer;
    font-size: 1.5rem;
}