.footer-container{
    position: relative;
    width : 100%;
    height : 40vh;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 4rem 10rem;
    z-index: 1;
}

.footer-container .footer-Preview{
    position: relative;
    width : 20rem;
    height : 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-Preview .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width : 100%;
    height : 8rem;
    color: #fff;
}

.footer-logo h1{
    font-size: 3rem;
    font-family: var(--font-family-Lexend);
}

.footer.logo p{
    font-family : var(--font-family);
}

.footer-Preview .footer-title{
    width : 100%;
    height : 5rem;
    text-align: center;
    padding-top: 10px;
}

.footer-title p{
    font-size: 1rem;
    color: #fff;
}

.footer-container .footer-menus{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width : 50rem;
    height: 15rem;
}

.footer-menus .footer-Menu{
    width : 800px;
    height : 2rem;
}

.footer-Menu > li{
    display: inline-flex;
    width: 200px;
    height: 100%;
    border-left: 3px solid #fff;
}

.footer-Menu > li:nth-child(1){
    border-left: 0;
}

.footer-Menu > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.footer-menus .Family-site{
    width: 20rem;
    height : 5rem;
}

.Family-site select{
    width: 15rem;
    height: 3.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 0 1rem;
}

.Family-site select > option{
    display: block;
    color: #000;
    font-size: 1rem;
}