section .GallaryList-container{
  position: relative;
  width : 100%;
  height : max-content;
  background-color: #fff;
  padding: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.GallaryList-container .GallaryList-header{
  position: sticky;
  top : 10%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width : 40%;
  height : 800px;
}

.GallaryList-header .GallaryList-title{
  width : 500px;
  height : 100px;
  font-size: 2rem;
  line-height: 100px;
  text-transform: uppercase;
  font-family: var(--font-family-Lexend);
  padding: 0 50px;
}

.GallaryList-header .GallaryList-filter{
  position: relative;
  width : 700px;
  height : 100px;
  display: inline-flex;
}

.GallaryList-filter li{
  width : 200px;
  height: 100%;
  line-height: 100px;
  text-align: center;
}

.GallaryList-filter li:nth-child(3){
  margin-right: 0px;
}

.GallaryList-filter li span{
  font-size: 1.2rem;
  font-family: var(--font-family-Lexend);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color : #9B9B9B;
}

li span.active{
  color: #000;
}

.GallaryList-header .Search-container{
  position: relative;
  width : 100%;
  height : 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding : 0 50px;
  align-items: flex-start;
}

.Search-container .result-count{
  width : 150px;
  height : 50px;
  font-size: 0.8rem;
  font-family: var(--font-family-Lexend);
}

.Search-container .Search-input{
  width : 450px;
  height : 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-input input{
  width : 100%;
  height : 45px;
  font-size: 1rem;
  padding : 0 1rem;
  font-family: var(--font-family-Lexend);
  font-weight: bold;
  border: 2px solid #9B9B9B;
}

.GallaryList-container .Gallary-Board{
  position: relative;
  width : 60%;
  height : max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Gallary-Board .GallaryList-Box{
  position: relative;
  width : 100%;
  height : max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap : 20px;
  place-items: center;
}

.GallaryList-Box .Gallary-item{
  position: relative;
  width : 350px;
  height : 350px;
  overflow: hidden;
  cursor: pointer;
}

.Gallary-item .Gallary-imgBox{
  width : 100%;
  height : 250px;
  overflow: hidden;
}

.Gallary-imgBox img{
  position: absolute;
  width : 100%;
  height : 100%;
  object-fit: cover;
  top : 0;
  left : 0;
}

.Gallary-Board .Loading{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width : 8rem;
  height : 12rem;
}

.Loading .spinner{
  display: block;
  width : 50px;
  height : 50px;
  border-radius: 50%;
  border : 10px solid rgba(0, 0, 0, 0.5);
  border-top: 10px solid rgb(255, 171, 171);
  animation: spinAnimate 2s infinite;
}

@keyframes spinAnimate{
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(360deg);
  }
}

/**/
.GListItem-container{
  position: absolute;
  width : 100%;
  height : max-content;
  top : 0;
  left : 0;
  z-index: 1000;
  background-color: #000;
}

.GListItem-container .GListItem-header{
  position: fixed;
  top : 0;
  left : 0;
  width : 10%;
  height : 100vh;
  z-index: 10;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.GListItem-header .logo{
  position: relative;
  width : 10rem;
  height : 5rem;
  margin : 5rem 0;
}

.logo img{
  width : 100%;
  height : 100%;
  object-fit: scale-down;
}

/*Iframe Video 재생버튼, 인트로 Img, Iframe 동영상 부모 컨테이너*/
.GListItem-container .Video-contents{
  position: absolute;
  left : 80%;
  transform: translateX(-80%);
  width : 40rem;
  height : 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

/*화보 Title css */
.Video-contents .video-title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width : 100%;
  height : 5rem;
  text-transform: uppercase;
}

.video-title h1{
  font-size: 1.2rem;
  font-family: var(--font-family-Go);
}

.video-title p{
  font-size: 1.5rem;
  font-family: var(--font-family-Lexend);
  font-weight: bold;
}

/*Compony 대표 유튜브 동영상 부모 container*/
.Video-contents .GListItem-Video{
  position: relative;
  width : 45rem;
  height : 25rem;
  overflow: hidden;
  margin : 2rem 0;
}

/*유튜브 Thumbnail ImgBox css 
layoutdata 값에 id값이 들어가면 이미지 화면 숨김*/
.GListItem-Video .Video-Image{
  position: absolute;
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  transition: all 1s ease-out;
}

/*버튼 클릭시 썸네일 이미지 활성화*/
.Video-Image#active{
  opacity: 1;
  transition: all 0.5s ease-out;
}

.Video-Image::before{
  position: absolute;
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  content : '';
}

.Video-Image img{
  position: absolute;
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  object-fit: cover;
}

/*iframe 재생버튼 
(해당 버튼 클릭 시 유튜브 api에서 가져온 영상 id값을 layoutdata에 저장함)*/
.Video-Image .Video-playButton{
  position: relative;
  width : 5rem;
  height : 5rem;
  color : #fff;
  z-index: 10;
  font-size: 5rem;
}

.Video-playButton:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.5s ease-in;
}

/*iframe 영상 위치값 container*/
.GListItem-Video .Video-iframe{
  position: absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
}

.Video-iframe iframe{
  width : 100%;
  height : 100%;
  object-fit: cover;
}

/*GallaryList item 부모 box css*/
.GListItem-container .GListItem-mapBox{
  position: absolute;
  top : 0;
  right : 0;
  width : 90%;
  height : 100vh;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*mapBox 표지와 mapBox Slider 아이템 부모 container*/
.GListItem-mapBox .mapBox-Slider{
  position: relative;
  width : 50%;
  height : 100%;
}

/*mapBox Gallary 표지 부모 css*/
.mapBox-Slider #mapItemBox-itemSign{
  position: relative;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#mapItemBox-itemSign .Sign-imgbox{
  position: relative;
  width : 100%;
  height : 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sign-imgbox .Sign-title{
  position: absolute;
  width : 25rem;
  text-align: center;
  height : 20rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color : #fff;
  font-size: 1.2rem;
  font-family: var(--font-family-Go);
  word-break: keep-all;
}

.Sign-imgbox::before{
  position: absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  content : '';
}

#mapItemBox-itemSign img{
  position: absolute;
  width : 100%;
  height : 100%;
  object-fit: cover;
}

/*control 버튼 누를 시 Slider mapBox item들 중 해당 Slider active toggle*/
#mapItemBox-item.active{
  display: flex;
  animation: animation 1s ease-in-out;
}

@keyframes animation {
  0%{
    display: flex;
  }

  100%{
    display: none;
  }
}

/*mapBox map items Slider css*/
.mapBox-Slider #mapItemBox-item{
  position: absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#mapItemBox-item.active{
  display: flex;
}

#mapItemBox-item .mapBox-imgbox{
  position: relative;
  width : 100%;
  height : 100%;
  overflow: hidden;
  cursor: pointer;
}

.mapBox-imgbox:hover img{
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.mapBox-imgbox img{
  position: absolute;
  width : 100%;
  height : 100%;
  object-fit: cover;
}

/*Slider control buttons & control page state css*/
.GListItem-mapBox .Slider-control{
  position: absolute;
  right : 0;
  bottom : 5rem;
  width : 10rem;
  height : 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding : 0 5rem;
}

.Slider-control .control-page{
  font-size: 1rem;
  color : #000;
  letter-spacing: 0.5rem;
  font-family: var(--font-family-Go);
}

.Slider-control .control-button{
  width : 8rem;
  height : max-content;
  color :#000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.control-button .control-back{
  width : 3rem;
  height : 3rem;
  cursor: pointer;
}

.control-button .control-next{
  width : 3rem;
  height : 3rem;
  cursor: pointer;
}

/*댓글창 부모 컴포넌트 container css */
.GListItem-container .GListItem-comment{
  position: relative;
  left : 10%;
  bottom : -100vh;
  width : 90%;
  height : 100vh;
  padding : 5rem;
  z-index: 10;
}

.GListItem-comment .Comment-title{
  width : 100%;
  height : 3rem;
}

.Comment-title h1{
  font-size: 1.8rem;
  font-family: var(--font-family-Sun);
}

.GListItem-comment .Comment-box{
  position: relative;
  width : 100%;
  height : max-content;
  padding : 2rem;
  background-color: rgb(0, 0, 0);
}

.GListItem-comment .CommentCRA-box{
  position: relative;
  width : 100%;
  height : 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding : 2rem 5rem;
  background-color: #fff;
}

.CommentCRA-box .Comment-info{
  width : 20rem;
  height : 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CommentCRA-box .Comment-InputBox{
  width : 100%;
  height : max-content;
  border : none;
  border-bottom: 2px solid #000;
  font-family: var(--font-family-Sun);
  font-weight: bold;
  font-size: 1rem;
}

.CommentCRA-box .Name-InputBox{
  width : 8rem;
  height : max-content;
  border: 2px solid #000;
  font-family: var(--font-family-Sun);
  font-weight: bold;
  font-size: 1rem;
}

.CommentCRA-box .Date-InputBox{
  width : 9rem;
  height : max-content;
  border: 2px solid #000;
  font-family: var(--font-family-Sun);
  font-weight: bold;
  font-size: 1rem;
}

.CommentCRA-box .Comment-PostBox{
  width : 10rem;
  display: flex;
  justify-content: space-between;
}

.Comment-PostBox .post-button{
  display: block;
  width : 4rem;
  padding : 0.5rem;
  font-size: 1rem;
  font-family: var(--font-family-Sun);
  border : none;
  background-color: rgb(136, 136, 136);
  border-radius: 2rem;
  color : #fff;
  cursor: pointer;
}

.Comment-PostBox .Cancel-button{
  display: block;
  width : 4rem;
  padding : 0.5rem;
  font-size: 1rem;
  font-family: var(--font-family-Sun);
  border : none;
  border-radius: 2rem;
  background-color: rgb(250, 69, 69);
  color : #fff;
  cursor: pointer;
}

/*댓글 Preview 창 부모 css*/
.GListItem-comment .CommentView-box{
  position: relative;
  width : 100%;
  height : 20rem;
  overflow-y: auto;
  margin: 2rem 0;
}

.CommentView-box::-webkit-scrollbar{
  width : 1rem;
  background-color: #fff;
}

.CommentView-box::-webkit-scrollbar-thumb{
  background-color: rgb(224, 40, 40);
}

.CommentView-box .CommentView-item{
  display: block;
  width : 100%;
  height : max-content;
}

.CommentView-item .CommentView-info{
  width : 20rem;
  height : 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 0 2rem;
  color : #fff;
}

.CommentView-info h1{
  font-size: 1.2rem;
  font-family: var(--font-family-Go);
}

.CommentView-info p{
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font-family-Go);
}

.CommentView-item .CommentView-textBox{
  width : max-content;
  height : 5rem;
  padding: 0 2rem;
  color : #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.CommentView-textBox h1{
  font-size: 1.2rem;
  font-family: var(--font-family-Go);
}
