.Introduce-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width : 100%;
    height : 100rem;
    background-color: #fff;
    padding: 5% 10%;
}

.Introduce-container .Profile-ContentBox{
    position: relative;
    left : 0;
    width : 100%;
    height : 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-out;
    z-index: 10;
}

.Profile-ContentBox .Entertainer-profileImg{
    position: relative;
    width : 30%;
    height : 100%;
    overflow: hidden;
}

.Entertainer-profileImg img{
    position: absolute;
    width : 100%;
    height : 100%;
    object-fit: cover;
}

.Profile-ContentBox .ContentBox-item{
    position: relative;
    width : 40%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ContentBox-item .Static-title{
    width : 100%;
    height : 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.Static-title span{
    content : '';
    width : 100%;
    height : 1px;
    background-color: #6C6C6C;
}

.Static-title h1{
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: uppercase;
    color : #6C6C6C;
}

.ContentBox-item .Profile-txtBox{
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.Profile-txtBox .Profile-title{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Profile-title h1{
    width: 100%;
    line-height: 100px;
    font-size: 3rem;
    font-family: var(--font-family-Lexend);
    font-weight: 600;
    color: #464646;
}

.Profile-title p{
    width: 100%;
    line-height: 50px;
    font-size: 1rem;
    font-family: var(--font-family-Noto);
    font-weight: bold;
    color: #464646;
}

.Profile-txtBox .Profile-info{
    width: 100%;
}

/*Profile txtBox styled*/
.Profile-info .name-info, 
.Profile-info .debut-info,
.Profile-info .birth-info,
.Profile-info .entertainment-info,
.Profile-info .FanClub-info,
.Profile-info .Social-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    height : 50px;
}

.name-info h1, .debut-info h1,
.birth-info h1, .entertainment-info h1,
.FanClub-info h1 ,.Social-info h1{
    width : 100px;
    line-height: 50px;
    height : 100%;
    font-size: 1rem;
    text-align: start;
    font-family: var(--font-family-Noto);
}

.name-info p, .debut-info p,
.birth-info p{
    width : 200px;
    height : 100%;
    text-align: start;
    font-size: 1rem;
    line-height: 50px;
    font-family: var(--font-family-Noto);
}

.entertainment-info .entertainment-img,
.FanClub-img{
    width : 200px;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.entertainment-img img{
    position: relative;
    width : 60px;
    height : 20px;
}

.FanClub-img img{
    width : 50px;
    height : 50px;
}

.Social-info .Social-list{
    position: relative;
    width : 200px;
    height : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Social-list .Social-item{
    font-size: 30px;
    color: #000;
}

.Social-item:hover{
    cursor: pointer;
    font-size: 35px;
}

/*About ContentBox*/

.Introduce-container .About-ContentBox{
    position: relative;
    width : 100%;
    height : 40rem;
    transition: all 0.5s ease-out;
}

.About-ContentBox .ContentBox-item{
    position: relative;
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.ContentBox-item .Discography-container{
    position: relative;
    width: 100%;
    height : 100%;
    display: flex;
    justify-content: space-between;
}

.Discography-container .Discography-contentBox{
    width : 40%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.Discography-contentBox .Discography-titleBox{
    width : 100%;
    height : 50%;
}

.Discography-titleBox .Discography-title{
    display: block;
    width: 100%;
    height : 100px;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: var(--font-family-Lexend);
    text-transform: uppercase;
    color: #464646;
    font-weight: bold;
}

.Discography-titleBox .Discography-subTitle{
    display: block;
    width: 100%;
    height : 50px;
    font-size: 15px;
    font-family: var(--font-family-Noto);
    text-transform: uppercase;
    color: #646464;
    font-weight: 500;
    line-height: 50px;
}

.Discography-container .Discography-control{
    width: 100%;
    height : 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 0;
}

.Discography-control .control-play{
    width : 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-play .play,
.control-play .pause{
    font-size: 2rem;
    cursor: pointer;
}

.Discography-control .control-move{
    width : 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-move .before,
.control-move .next{
    font-size: 2rem;
    cursor: pointer;
}

.Discography-container .discography-slide{
    position: relative;
    width: 60rem;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

.discography-slide .slide-wrap{
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0rem;
    width: max-content;
    height: 100%;
}

.slide-wrap .slide-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20rem;
    height: 100%;
    background-color: #fff;
}

.slide-item .Album-Img{
    position: relative;
    width: 15rem;
    height: 15rem;
}

.Album-Img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-item .Album-info{
    position: relative;
    width: 100%;
}

.Album-info .Album-title{
    width: 100%;
    height: 4rem;
}

.Album-title h2{
    line-height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-family-Lexend);
}

.Album-info .Album-info{
    width: 100%;
    height: 3rem;
}

.Album-info h3{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 100;
    line-height: 3rem;
}

.Album-info .Album-Since{
    width: 100%;
    height: 3rem;
}

.Album-Since p{
    font-size: 12px;
    line-height: 3rem;
    font-weight: bold;
    font-family: var(--font-family);
}

