.Introduce-container{
    position: relative;
    width : 100%;
    height : 280vh;
    background-color: #fff;
    padding : 5% 15%;
}

.Introduce-container .Entertainer-infoBox{
    position: relative;
    width : 100%;
    height : 100vh;
}

.Entertainer-infoBox.active{
    position: sticky;
    top : 5%;
    left : 0;
}

.Entertainer-infoBox .Entertainer-profileImg{
    position: relative;
    width : 700px;
    height : 700px;
    overflow: hidden;
}

.Entertainer-profileImg img{
    position: absolute;
    width : 100%;
    height : 100%;
    object-fit: cover;
}

.Entertainer-infoBox .About-ContentBox,
.Entertainer-infoBox .Profile-ContentBox{
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    left : 0;
    width : 100%;
    height : 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.About-ContentBox.active,
.Profile-ContentBox.active{
    opacity: 1;
    transition: all 0.5s ease-in;
}

.About-ContentBox .ContentBox-item,
.Profile-ContentBox .ContentBox-item{
    position: relative;
    width : 450px;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/*About ContentBox*/
.ContentBox-item .Static-title{
    width : 100%;
    height : 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Static-title span{
    content : '';
    width : 100%;
    height : 1px;
    background-color: #6C6C6C;
}

.Static-title h1{
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: uppercase;
    color : #6C6C6C;
}

/*About txtBox styled*/
.ContentBox-item .dynamic-txtBox{
    position: relative;
    width : 100%;
    height : 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 1;
}

.dynamic-txtBox .dynamic-title{
    width : 100%;
    height : 150px;
}

.dynamic-title h1{
    width : 100%;
    height : 100px;
    font-size: 3rem;
    line-height: 100px;
    font-family: var(--font-family-Lexend);
}

.dynamic-title p {
    width : 100%;
    height : 50px;
    font-size: 1rem;
    line-height: 50px;
    font-weight: bold;
    font-family: var(--font-family-Noto);
}

.dynamic-txtBox .dynamic-info{
    width : 85%;
    height : 300px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-family-Noto);
    word-break: keep-all;
    color : #6C6C6C;
}

.ContentBox-item .selectMenu-Box{
    position: relative;
    width : 100%;
    height : 50px;
}

/*Profile txtBox styled*/
.dynamic-txtBox .name-info, 
.dynamic-txtBox .debut-info,
.dynamic-txtBox .birth-info,
.dynamic-txtBox .entertainment-info,
.dynamic-txtBox .FanClub-info,
.dynamic-txtBox .Social-info{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    height : 50px;
}

.name-info h1, .debut-info h1,
.birth-info h1, .entertainment-info h1,
.FanClub-info h1 ,.Social-info h1{
    width : 100px;
    line-height: 50px;
    height : 100%;
    font-size: 1rem;
    text-align: start;
}

.name-info p, .debut-info p,
.birth-info p{
    width : 200px;
    height : 100%;
    text-align: start;
    font-size: 1rem;
    line-height: 50px;
}

.entertainment-info .entertainment-img,
.FanClub-img{
    width : 200px;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.entertainment-img img{
    position: relative;
    width : 60px;
    height : 20px;
}

.FanClub-img img{
    width : 50px;
    height : 50px;
}

.Social-info .Social-list{
    position: relative;
    width : 200px;
    height : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Social-list .Social-item{
    font-size: 30px;
    color: #000;
}

.Social-item:hover{
    cursor: pointer;
    font-size: 35px;
}

.selectMenu-Box li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width : calc(100% / 3);
    height: 100%;
}

.selectMenu-Box li > a{
    width : 100px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.selectMenu-Box li > a.active{
    border-bottom: 5px solid #000;
    font-weight: bold;
}