.Introduce-container{
    position: relative;
    width : 100%;
    height : 280vh;
    background-color: #fff;
    padding : 5% 10%;
}

.Introduce-container .Entertainer-infoBox{
    position: relative;
    width : 100%;
    height : 100vh;
}

.Entertainer-infoBox.active{
    position: sticky;
    top : 5%;
    left : 0;
}

.Entertainer-infoBox .Entertainer-profileImg{
    position: relative;
    width : 700px;
    height : 700px;
    overflow: hidden;
}

.Entertainer-profileImg img{
    position: absolute;
    width : 100%;
    height : 100%;
    object-fit: cover;
}

.Entertainer-infoBox .Profile-ContentBox{
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    left : 0;
    width : 100%;
    height : 750px;
    display: none;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-out;
    z-index: 10;
}

.Profile-ContentBox.active{
    display: flex;
    animation : ProfileView 1s linear;
}

@keyframes ProfileView {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.Profile-ContentBox .ContentBox-item{
    position: relative;
    width : 450px;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ContentBox-item .dynamic-txtBox{
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.dynamic-txtBox .dynamic-title{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dynamic-title h1{
    width: 100%;
    line-height: 100px;
    font-size: 3rem;
    font-family: var(--font-family-Lexend);
    font-weight: 600;
    color: #464646;
}

.dynamic-title p{
    width: 100%;
    line-height: 50px;
    font-size: 1rem;
    font-family: var(--font-family-Noto);
    font-weight: bold;
    color: #464646;
}

.dynamic-txtBox .dynamic-info{
    width: 100%;
}

/*Profile txtBox styled*/
.dynamic-txtBox .name-info, 
.dynamic-txtBox .debut-info,
.dynamic-txtBox .birth-info,
.dynamic-txtBox .entertainment-info,
.dynamic-txtBox .FanClub-info,
.dynamic-txtBox .Social-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    height : 50px;
}

.name-info h1, .debut-info h1,
.birth-info h1, .entertainment-info h1,
.FanClub-info h1 ,.Social-info h1{
    width : 100px;
    line-height: 50px;
    height : 100%;
    font-size: 1rem;
    text-align: start;
    font-family: var(--font-family-Noto);
}

.name-info p, .debut-info p,
.birth-info p{
    width : 200px;
    height : 100%;
    text-align: start;
    font-size: 1rem;
    line-height: 50px;
    font-family: var(--font-family-Noto);
}

.entertainment-info .entertainment-img,
.FanClub-img{
    width : 200px;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.entertainment-img img{
    position: relative;
    width : 60px;
    height : 20px;
}

.FanClub-img img{
    width : 50px;
    height : 50px;
}

.Social-info .Social-list{
    position: relative;
    width : 200px;
    height : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Social-list .Social-item{
    font-size: 30px;
    color: #000;
}

.Social-item:hover{
    cursor: pointer;
    font-size: 35px;
}

/*About ContentBox*/

.Entertainer-infoBox .About-ContentBox{
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    left : 0;
    width : 100%;
    height : 750px;
    display: none;
    transition: all 0.5s ease-out;
}

.About-ContentBox.active{
    display: block;
    animation: AboutView 1s linear;
}

@keyframes AboutView {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.About-ContentBox .ContentBox-item{
    position: relative;
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.ContentBox-item .Static-title{
    width : 100%;
    height : 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Static-title span{
    content : '';
    width : 100%;
    height : 1px;
    background-color: #6C6C6C;
}

.Static-title h1{
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: uppercase;
    color : #6C6C6C;
}

.ContentBox-item .selectMenu-Box{
    position: relative;
    width : 600px;
    height : 50px;
}

.selectMenu-Box li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width : calc(100% / 3);
    height: 100%;
}

.selectMenu-Box li > a{
    width : 100px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.selectMenu-Box li > a.active{
    border-bottom: 5px solid #000;
    font-weight: bold;
}

.ContentBox-item .Discography-container{
    position: relative;
    width: 100%;
    height : 550px;
    display: flex;
}

.Discography-container .Discography-contentBox{
    width : 40%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Discography-contentBox .Discography-titleBox{
    width : 100%;
    height : 200px;
}

.Discography-titleBox .Discography-title{
    display: block;
    width: 100%;
    height : 100px;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: var(--font-family-Lexend);
    text-transform: uppercase;
    color: #464646;
    font-weight: bold;
}

.Discography-titleBox .Discography-subTitle{
    display: block;
    width: 100%;
    height : 50px;
    font-size: 1rem;
    font-family: var(--font-family-Noto);
    text-transform: uppercase;
    color: #646464;
    font-weight: bold;
    line-height: 50px;
}

.Discography-container .Discography-control{
    width: 100%;
    height : 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 0;
}

.Discography-control .control-play{
    width : 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-play .play,
.control-play .pause{
    font-size: 2rem;
    cursor: pointer;
}

.Discography-control .control-move{
    width : 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-move .before,
.control-move .next{
    font-size: 2rem;
    cursor: pointer;
}

.Discography-container .discography-slide{
    position: relative;
    width: 60rem;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

.discography-slide .slide-wrap{
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0rem;
    width: max-content;
    height: 100%;
}

.slide-wrap .slide-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20rem;
    height: 100%;
    background-color: #fff;
}

.slide-item .Album-Img{
    position: relative;
    width: 15rem;
    height: 15rem;
}

.Album-Img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-item .Album-info{
    position: relative;
    width: 100%;
}

.Album-info .Album-title{
    width: 100%;
    height: 4rem;
}

.Album-title h2{
    line-height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-family-Lexend);
}

.Album-info .Album-info{
    width: 100%;
    height: 3rem;
}

.Album-info h3{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: bold;
    line-height: 3rem;
}

.Album-info .Album-Since{
    width: 100%;
    height: 3rem;
}

.Album-Since p{
    font-size: 1rem;
    line-height: 3rem;
    font-weight: bold;
    font-family: var(--font-family);
}

