/* 상단 navbar 컴포넌트 css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 100;
  padding: 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transition-duration: 0.5s;
  opacity: 1;
}

.navbar#active{
  background-color: #000;
  height: 100px;
  z-index: 1500;
}

.navbar.hide{
  opacity: 0;
}
/*navbar logo*/
.navbar .logo{
  position: relative;
  width : 150px;
  height : 100px;
  display: flex;
  color : #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navbar#active .logo{
  height: 80px;
}

.logo h1{
  text-align: center;
  width : 100%;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-family-Lexend);
  transition: all 0.3s ease-in;
}

.navbar#active .logo h1{
  font-size: 30px;
}

.logo p{
  width : 100%;
  text-align: center;
  font-size: 10px;
  font-family: var(--font-family);
}

.navbar#active .logo p{
  font-size: 8px;
}

/*navbar Main Menu ul css*/
.navbar .Main-menu{
  position: relative;
  width : 700px;
  height : 100px;
}

/*Main Menu ul li inline flex css (700px / 4)*/
.Main-menu li{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width : calc(700px / 4);
  height : 100%;
}

.Main-menu li > a{
  width : 100px;
  height : 50px;
  line-height: 50px;
  text-align: center;
  color : #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  font-family: var(--font-family-Lexend);
}

.navbar .Sub-menu{
  width : 150px;
  height : 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Sub-menu .User-button{
  width : 50px;
  height : 100%;
  font-size: 1.5rem;
  color : #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor : pointer;
}

.Sub-menu .Search-button{
  width : 50px;
  height : 100%;
  font-size: 1.5rem;
  color : #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor : pointer;
}


/* Navbar menu botton toggle NavMenu*/

#NavMenu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

@keyframes NavMenuAnimation{
  0%{
    height : 0vh;
    display: none;
  }

  100%{
    display: block;
    transition: all 0.5s ease-in-out;
    height : 100vh;
  }
}

#NavMenu-container.active {
  display: block;
  animation: NavMenuAnimation 2s ;
}

#NavMenu-container .NavMenu-logo{
  position: absolute;
  top : 0;
  left : 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width : 20rem;
  height : max-content;
  align-items: center;
  padding : 2rem;
}

.NavMenu-logo h1{
  font-size: 4.5rem;
  font-family: var(--font-family-Pa);
  letter-spacing: 0.2rem;
}

.NavMenu-logo p{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-family-Ye);
}

#NavMenu-container .NavMenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50vh;
  display: none;
}

@keyframes example{
  0%{
    height : 0;
    opacity: 0;
  }

  50%{
    height : 50vh;
    opacity: 1;
    transition: all 5s ease-in-out;
    transition-delay: 5s;
  }

  100%{
    height : 50vh;
    opacity: 1;
    transition: all 5s ease-in-out;
    transition-delay: 5s;
  }
}

#NavMenu-container.active .NavMenu{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  animation: example 5s;
}

.NavMenu > .Introduce-ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-Ol);
  text-transform: uppercase;
}

.Introduce-ul .Introduce-title{
  position: relative;
  font-size: 2.5rem;
  font-family: var(--font-family-Co);
  text-transform: uppercase;
  font-weight: bold;
}

.NavMenu > .SOCIAL-ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-Ol);
  text-transform: uppercase;
}

.SOCIAL-ul .SOCIAL-title{
  position: relative;
  font-size: 2.5rem;
  font-family: var(--font-family-Co);
  text-transform: uppercase;
  font-weight: bold;
}

.NavMenu > ul > li {
  width: max-content;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 5px solid transparent;
}

.NavMenu > ul > li:hover {
  border-bottom: 5px solid rgba(0, 0, 0, 0.95);
  color: #000;
  transition: all 0.5s ease-in-out;
}

.NavMenu > ul > li > a {
  display: block;
  width: max-content;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-size: 2rem;
}

#NavMenu-container .NavMenu-subMenu{
  position: absolute;
  width : 30rem;
  height : 8rem;
  bottom : 0;
  padding : 2rem;
  left : 50%;
  transform: translateX(-50%);
}

.NavMenu-subMenu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.NavMenu-subMenu ul li{
  position: relative;
  top : 0;
  left : 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width : 4rem;
  height : 4rem;
  border-radius: 50%;
  border : 2px solid transparent;
}

.NavMenu-subMenu ul li a{
  font-size: 2rem;
  color : #000;
}

.NavMenu-subMenu ul li a:hover{
  cursor: pointer;
}

.NavMenu-subMenu ul li:nth-child(2):hover{
  border : 3px solid #000;
}