@charset "UTF-8";

/*SubMenu 최상위 부모 컨테이너*/
.Submenu-container{
    position: relative;
    width: 100%;
    height: 160vh;
    padding : 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Submenu 제목 소제목 box container*/
.Submenu-container .Submenu-titleBox{
    width: 100%;
    height: 10rem;
}

.Submenu-titleBox h1{
    width: 100%;
    line-height: 7rem;
    text-align: center;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
}

.Submenu-titleBox p{
    width: 100%;
    line-height: 3rem;
    text-align: center;
    font-family: var(--font-family-Noto);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

/*Submenu wrap 부모 셀렉터*/
.Submenu-container .Submenu-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*column 100% 크기 box menu 부모 컨테이너*/
.Submenu-wrap .menu-ColumnBox{
    width: 100%;
    height: 50vh;
}

/*column 100% 크기 box Menu container*/
.menu-ColumnBox .Menu-container{
    position: relative;
    width : 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

/*Menu component hover Img scale 이벤트*/
.Menu-container:hover .Menu-imgBox{
    transform: scale(1.1);
    transition: all 0.5s ease-in;
}

/*Menu Component 동일 요소 opacity 속성*/
.Menu-container::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/*Menu Component 동일 요소 이미지 크기 cover*/
.Menu-container .Menu-imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Menu-imgBox img{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*row 50% & 50% menu 부모 컨테이너*/
.Submenu-wrap .menu-RowBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
}

/*row 50%  Menu component css*/
.menu-RowBox .Menu-container{
    position: relative;
    width : 50%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

/*row 50% 오른쪽 column 2칸으로 나눈 container*/
.menu-RowBox .row-ColumnBox{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row-ColumnBox .Menu-container{
    position: relative;
    width : 100%;
    height: 100%;
    cursor: pointer;
}

/*Menu Component Content 자식요소 컨테이너*/
.Menu-container .Menu-contentBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;
    height: 15rem;
    font-family: var(--font-family);
    z-index: 10;
}

.Menu-contentBox .Menu-subTitle{
    width: 100%;
    text-align: center;
}

.Menu-subTitle span{
    font-size: 1.2rem;
    line-height: 5rem;
    color: #fff;
    text-transform: uppercase;
}

.Menu-contentBox .Menu-title{
    text-align: center;
}

.Menu-title h1{
    font-size: 2rem;
    line-height: 10rem;
    color: #fff;
    text-transform: uppercase;
}

.Menu-imgBox .Menu-videoBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

.Menu-videoBox iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Menu-container:hover .Menu-videoBox{
    display: block;
    animation: iframeAnimation 0.5s ease-in-out;
}

@keyframes iframeAnimation{
    0%{
        opacity: 0;
        transition: all 0.5s ease-out;
    }

    100%{
        opacity: 1;
        transition: all 0.5s ease-in;
    }
}