@charset "UTF-8";

/*SubMenu 최상위 부모 컨테이너*/
.Submenu-container{
    position: relative;
    width: 100%;
    height: max-content;
    padding : 5% 15%;
    background-color: #000;
}

/*Submenu 제목 소제목 box container*/
.Submenu-container .Submenu-titleBox{
    display: block;
    width: 100%;
}

.Submenu-titleBox h1{
    width: 100%;
    line-height: 7rem;
    text-align: center;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

/*Submenu wrap 부모 셀렉터*/
.Submenu-container .Submenu-wrap{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Submenu-wrap .Menu-card{
    position: absolute;
    display: none;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.Menu-card:nth-child(1){
    display: flex;
}

.Menu-card .Menu-imgBox{
    flex : 6;
    width: 100%;
    height: 28rem;
    overflow: hidden;
}

.Menu-imgBox > img{
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.Menu-card .Menu-contentBox{
    flex: 4;
    height: 28rem;
    padding : 0 5rem;
}

.Menu-contentBox .Menu-subTitle{
    font-size: 18px;
    line-height: 4rem;
    color: #fff;
}

.Menu-contentBox .Menu-title{
    font-size: 1.8rem;
    color: #fff;
    line-height: 8rem;
}

.Menu-contentBox .Menu-info{
    margin-top: 4rem;
    width: 25rem;
    height: 6rem;
    font-size: 1rem;
    color: #fff;
    word-break: keep-all;
    font-family: var(--font-family-Noto);
}

.Menu-contentBox .view-info{
    display: block;
    line-height: 3rem;
    margin-top: 3rem;
    width: 150px;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-family: var(--font-family-Noto);
    cursor: pointer;
}